.container {
  width: 1024px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.red {
  display: flex;
  border: red solid 2px;
}
.green {
  display: flex;
  border: green solid 2px;
}
.yellow {
  display: flex;
  border: yellow solid 2px;
}
.blue {
  display: flex;
  border: blue solid 2px;
}
.pink {
  display: flex;
  border: pink solid 2px;
}
